<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>BemVindo</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">
    </head>

        <body>
            <div class="container">
                <h1>Bem Vindo!</h1>
                <p><h2>Opções de Entrada no Sistema</h2></p>
            </div>
            <div class="container" align="middle">
                <p>Para fazer login, clique <a th:href="@{/admin}">AQUI</a>!!!</p>
                <p>Para cadastrar um novo Login, clique <a th:href="@{/cadastrocliente}">AQUI</a>!!!</p>
            </div>

            <script src="/webjars/jquery/3.4.1/jquery.min.js"></script>
            <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
        </body>
</html>